@import '../_templateColors.scss';

.tab a{
    color : $blue-dark;
    background-color: transparent;
}
.tab a.active{
    background-color: transparent;
    color: $blue-dark;
}
.tab a:focus{
    background-color: white !important;
    // color: white !important;
    // opacity: 80%;
}
input[type="search"]:focus{
    border-bottom: 0px;
}

.nav-wrapper{
    border-bottom: 1px solid gray;
}

.tabs .indicator{
    background-color : $blue-dark;
}
.arquivo{
    width: 600px !important;
    max-width: 500px !important;
}