@import '../templateColors';

input[type="checkbox"].filled-in:checked + span:not(.lever):after{
    border: 2px solid $blue-dark;
    background-color: $blue-dark;
}

.input-field input:focus {
    border-bottom: 1px solid $blue-dark;
}

label{
    font-size: 16px !important;
}
form{
    margin-top: 30px;
}
#div-form{
    padding: 0px;
}

fieldset{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

div#enviar{
    text-align: right;
}

#id_comentario{
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
}