@import '../templateColors';

input[type="checkbox"].filled-in:checked + span:not(.lever):after{
    border: 2px solid $blue-dark;
    background-color: $blue-dark;
}

.input-field input:focus {
    border-bottom: 1px solid $blue-dark;
    font-size: 14px !important;
}
.input-field{
    margin-bottom: 0px;
}

label{
    font-size: 14px !important;
}
form{
    margin-top: 0px;
    margin-bottom: 50px;
}
.select-dropdown{
    font-size: 14px !important;
    font-family: inherit;
}
#div-form{
    padding: 0px;
}

fieldset{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
#btn-enviar{
    background-color: $blue-dark;
    margin-top: 20px;
}

div#enviar{
    text-align: right;
}

ul.select-dropdown li span{
    color: $blue-dark;
    font-size: 14px !important;
}

.btn#file-input{
    background-color: $blue-dark;
    font-size: 14px !important;
}
.btn#file-input:hover{
    opacity: 80%;
}

#id_comentario{
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#file-input{
    a{
        color: white !important;
        opacity: 90%;
    }
    span{
        font-size: 12px !important;
    }
}



