{% extends 'basepage_func.html' %}

{% load static %}

{% block head2 %}
<script src="{% static 'js/home_func.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/funcionario/home.css' %}">
{% endblock %}

{% block page %}
<div id="test1" class="col s12">
    <h5>Fila de impressões pendentes</h5>
    {% if messages %}
    <!-- MENSAGENS -->
    <div class="card-panel teal lighten-2" id="messages">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </div>
    <!-- MENSAGENS -->
    {% endif %}
    <!-- SEARCH BAR -->
    <div class="nav-wrapper">
        <div class="input-field">
            <input id="search1" onkeyup="filter('search1', 'table1')" type="search">
            <label class="label-icon" for="search1"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- SEARCH BAR -->
    <div style="overflow-x: auto;">
        <table id="table1" class="striped highlight">
            <thead>
                <tr>
                    <th class="center-align">Cod</th>
                    <th class="center-align">Arquivo</th>
                    <th class="center-align">Cópias</th>
                    <th class="center-align">Coloria</th>
                    <th class="center-align">Tipo</th>
                    <th class="center-align">Dono</th>
                    <th class="center-align">Comentário</th> <!-- delete col -->
                    <th class="center-align">Download</th>
                    <th class="center-align">Notificar</th>
                </tr>
            </thead>

            <tbody>
                {% for impressao in impressoes %}
                <tr>
                    <td>{{impressao.id}}</td>
                    <td class="nome_impressao">{{impressao.uri_arquivo|truncatechars:35}}</td>
                    <td>{{impressao.qtd_copias}}</td>
                    <!-- STATUS -->
                    <!-- STATUS -->

                    <!-- COLORIDA OU NÃO -->
                    {% if impressao.colorida == True %}
                    <td>
                        Sim
                    </td>
                    {% else %}
                    <td>
                        Não
                    </td>
                    {% endif %}
                    <!-- COLORIDA OU NÃO -->
                    <td>{{impressao.tipo.nome}}</td>
                    <td>{{impressao.cliente.first_name}} {{impressao.cliente.last_name}}</td>
                    <!-- EDIT -->
                    <td>
                        {{impressao.comentario}}
                    </td>
                    <!-- EDIT -->
                    <!-- DOWNLOAD COL -->
                    <td>
                        <!-- Download File Col -->
                        <a class="btn download" href="/impressao/download/{{impressao.uri_arquivo}}" target="_blank">
                            <i class="material-icons">download</i>
                        </a>
                    </td>
                    <!-- DOWNLOAD COL -->
                    <!-- NOTIFY CLIENT COL -->
                    <td>
                        <input class="id_impressao" type="number" value={{ impressao.id }} hidden>
                        <input type="number" name="qtd_laudas" hidden>
                        <a title="Impressão pronta!" href="#setPrintedModal" onclick="openModalCorfimPrinted(this)"
                            class="btn red modal-trigger green darken-1">
                            <i class="material-icons">check</i>
                        </a>
                    </td>
                    <!-- NOTIFY CLIENT COL -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- HISTÓRICO -->
    <!-- Modal Trigger -->
    <!-- Modal Structure -->
    <div id="setPrintedModal" class="modal">
        <form action="{% url 'impressao:set_imprimida' %}" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <h5>Confirmação da quantidade de laudas imprimidas</h5>
                <h6>Insira a quantidade <b>total</b> de laudas que foram imprimidas para o arquivo:</h6>
                <div class="col l9">
                    <br>
                    cod: <span id="cod_text_in_modal"></span><br>
                    Arquivo: <span id="arquivo_text_in_modal"></span>
                </div>
                <div class="col l3">
                    <input type="number" id="id_impressao_modal" name="id_impressao" hidden>
                    <label>Quantidade: <input type="number" name="qtd_laudas_imprimidas" id="qtd_laudas_modal" value="1"
                            min=1 name=""></label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_enviar_modal"
                    onclick="return confirm('Deseja mesmo confirmar a impressão?\nNão será mais possível realizar alterações.')"
                    class="btn waves-effect waves-green btn-flat green darken-2">Confirmar
                    Impressão</a>
            </div>
        </form>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        //esconde mensagens de sucesso e erro
        setTimeout(function () {
            $("#messages").hide();
        }, 3000);
    });
    //Search bar code
    function filter(id_search, id_table) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(id_search);
        filter = input.value.toUpperCase();
        table = document.getElementById(id_table);
        tdbody = table.getElementsByTagName("tbody")[0];
        tr = tdbody.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            found = false;

            tds = tr[i].getElementsByTagName("td")

            for (x = 0; x < tds.length; x++) {
                td = tds[x];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
            }
            if (found)
                tr[i].style.display = "";
            else
                tr[i].style.display = "none";
        }
    }
</script>
{% endblock%}