@import '_templateColors.scss';

$LoginPadding : 30px !important;
$LoginMargin : 60px !important;

#login_modal{
    text-align: right !important;
}

legend{
    font-size: 25px !important;
}

#form_container{
    margin-top: $LoginMargin;
    margin-bottom: $LoginMargin;
    // padding-top: $LoginPadding;
    padding: $LoginPadding;
    background-color: white;
}
body{
    background-color: $gray-light;
}

/* INPUT LOGIN*/
/* icon prefix focus color */
.input-field .prefix.active {
    color: $blue-dark;
}

/*label focus color */
.input-field input:focus + label {
    color: $blue-dark;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid  $blue-dark;
}
/* INPUT LOGIN*/