@import "_templateColors.scss";

$min-height : 550px;

#left-nav-div{
    color: black;
    // background-color: #f8f8f8 !important;
    // background-color: white !important;

    border-right: 1px solid gray;
    height: $min-height;
    padding-top: 20px;
    vertical-align: center;
    min-height: $min-height;
    background-color: $blue-dark;
    color: white !important;
    // opacity: 80%;
}

#left-nav-ul li a{
    color: white !important;
}

#left-nav-ul li a{
    color: white !important;
    vertical-align: center;
}
#left-nav-ul li:hover{
    opacity: 85%;
}


#arrow-left-div a i{
    vertical-align: center;
}
#page{
    margin-bottom: 0px; /* margin para o footer*/
    min-height: $min-height;
}

#page_in{
    padding-top: 30px;
}