@import "_templateColors.scss";

$min-height : 650px;

#left-nav-div{
    font-size: 17px;
    border-right: 1px solid gray;
    height: $min-height;
    padding-top: 20px;
    vertical-align: center;
    min-height: $min-height;
    background-image: linear-gradient(to bottom,#171717, #616161);
    color: white !important;
    box-shadow: 1px 0px 0px #888888;
    filter: grayscale(17%);
    opacity: 90%;
    text-shadow: 3px 3px 3px black !important;
}
#left-nav-div hr{
    color: white;
    border: 1px solid white;
}

#left-nav-ul li a{
    color: white !important;
}

#left-nav-ul li a{
    color: white !important;
}
#left-nav-ul li a:hover{
    // opacity: 85%;
    color: black !important;
}

#arrow-left-div a i{
    vertical-align: center;
}
#page{
    margin-bottom: 0px; /* margin para o footer*/
    min-height: $min-height;
}

#page_in{
    padding-top: 30px;
}