{% extends "basepages/basepage_home.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
<div class="carousel carousel-slider center" style="height: 500px;">
  <div class="carousel-item light-blue accent-4 black-text carousel_slides" href="#three!"
    style="background-image: url({% static 'images/slidebar/slide_home_4.jpg' %})">
    <h2 id="title_carrousel_3" class="titles_carrousel">Sistema de Gerenciamento de Impressões do IFRN</h2>
    <p>O melhor sistema para dar conta da papelada!</p>
  </div>
  <div class="carousel-item lighten-5 black-text carousel_slides"
    style="background-image: url({% static 'images/slidebar/slide_home_2.jpg'%})">
    <h2 id="title_carrousel_1" class="titles_carrousel">Gerenciamento de Fila de Impressões</h2>
    <p>Com o nosso sistema, você tem a certeza que seu pedido será entregue dentro do prazo!</p>
  </div>
  <div class="carousel-item light-blue accent-3 black-text carousel_slides"
    style="background-image: url({% static 'images/slidebar/slide_home_3.jpg'%})">
    <h2 id="title_carrousel_2" class="titles_carrousel">Facilidade de uso!</h2>
    <p>Interface amigável, feita para você!</p>
  </div>
  <div class="carousel-item light-blue accent-5 black-text carousel_slides"
    style="background-image: url({% static 'images/slidebar/slide_home_5.jpg' %})">
    <h2 id="title_carrousel_4" class="titles_carrousel">Economize Tempo...</h2>
    <p>Nosso sistema te envia um email assim que suas impressões estiverem prontas!</p>
  </div>
</div>
</div>
<div>
  <!-- END CAROUSEL -->
  <script src="{% static 'js/home.js' %}"></script>
  {% endblock %}