/* #img_logo{
    width: 50px;
    height: 50px;
    /* margin-top: 10px; */
    /* margin-right: 20px;
} */
#brand_logo{
    height: 100%;
    padding: 14px;
    padding-bottom: 20px;
    font-size: 22px;
    padding-left: 100px;
}

.carousel_slides{
    background-size: cover;
    font-weight: bolder;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.carousel_slides:hover{
    /* filter:blur(0px); */
    /* filter:grayscale(); */
    color: rgba(red, green, blue, 1);
    
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #0277bd;
}

/*label focus color */
.input-field input:focus + label {
    color: #0277bd !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid  #0277bd !important;
    box-shadow: 0 1px 0 0 #000;
}

#login_modal{
    text-align: right;
}

#modal1 legend{
    font-size: 25px !important;
}
